version: '3.8'

services:
  backend:
    build:
      context: ./backend
    container_name: ansible-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - ANSIBLE_HOST_KEY_CHECKING=False
      - PYTHONUNBUFFERED=1
    restart: always
    networks:
      - ansible-net

  nginx:
    build:
      context: ./frontend/frontend
    container_name: ansible-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
    networks:
      - ansible-net

networks:
  ansible-net:
    driver: bridge